body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#beers li::before {
  content: "";
}

.beer {
  font-size: 26px;
  text-transform: uppercase;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}

body {
  margin-bottom: 200%;
}

.myBox {
  border: none;
  padding: 5px;
  width: 200px;
  height: 550px;
  overflow: scroll;
}

.list-container {
    padding-bottom: 20px;
}

#next {
    margin-left: 30px;
}